header{
    height: 100px;
    width: 100%;
    background-color:orange;
    position: absolute;
    top: 0%;
}
.head{
    text-align: center;
    color:white;
}
img{
    position: absolute;
    top: 0%;
}
nav{
    font-size: 23px;   
    height: 40px;
    background-color: black;
    position:relative;
    top:92px;
}
a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}


.header{
    background: white;
    width: 500px;
    position: relative;
    left: 400px;
    top: 110px;
    
}   
footer{
     color: red;
     font-size: 10px;
     height: 50px;
     width: 100%;
     float: left;
     position: absolute;
     bottom: 0%;
    } 
